<div class="container contContainer w-100 rounded-3 border-primary mt-2 mb-2 pb-2">
    <!-- <img src="829030.jpg" class="w-100 h-100 opacity-50" alt=""> -->

    <div class="container pe-3 ps-3 text-light w-75">
        <h5 class="bg-primary rounded-bottom-5">
            Connect with I & My References
        </h5>       
    </div>

    <div class="container opacity-75">
        <!-- Card 01 -->
        <div class="card text-light bg-body">
            <div class="card-header bg-primary">My Contact Information</div>
            <div class="card-body">
                 <div class="row">
                    <div class="col-6">
                        <div class="card bg-dark">
                            <div class="card-header bg-primary-subtle text-light-emphasis">Email Address</div>
                            <div class="card-body text-light">
                                <a href="mailto:ljmogashoa04@gmail.com" class="text-light">
                                    <i class="fa-solid fa-envelope me-1"></i>
                                    ljmogashoa04&commat;gmail.com
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card bg-dark">
                            <div class="card-header bg-primary-subtle text-light-emphasis">Cell Number</div>
                            <div class="card-body text-light">
                                <a href="tel:+27607346043" class="text-light me-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2760 734 6043
                                </a> &pointint;
                                <a href="tel:+27685965471" class="text-light ms-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2768 596 5471
                                </a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <!-- Card 02 -->
        <div class="card text-light bg-body mt-2">
            <div class="card-header bg-primary">My References</div>
            <div class="card-body">
                 <div class="row">
                    <div class="col-6">
                        <div class="card bg-dark">
                            <div class="card-header bg-primary-subtle text-light-emphasis">Software Development</div>
                            <div class="card-body text-light border-bottom border-primary-subtle">
                                Selepe Jerry : Limpopo Department Of Education : 
                                <a href="tel:+27152907996" class="text-light me-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2715 290 7996
                                </a> &pointint;
                                <a href="tel:+27671192311" class="text-light ms-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2767 119 2311
                                </a>
                            </div>
                            <div class="card-body text-light">
                                Bopape Moses : NetCampus : 
                                <a href="tel:+27126631593" class="text-light me-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2712 663 1593
                                </a> &pointint;
                                <a href="tel:+27826104747" class="text-light ms-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2782 610 4747
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card bg-dark">
                            <div class="card-header bg-primary-subtle text-light-emphasis">IT Technical Support</div>
                            <div class="card-body text-light border-bottom border-primary-subtle">
                                Ramabu MP : PMR Media and Advertising : 
                                <a href="tel:+27150230168" class="text-light me-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2715 023 0168
                                </a> &pointint;
                                <a href="tel:+27723498614" class="text-light ms-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2772 349 8614
                                </a>
                            </div>
                            <div class="card-body text-light">
                                Mr M Thosago : Thomo Primary School : 
                                <a href="tel:+27150230263" class="text-light me-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2715 023 0263
                                </a> &pointint;
                                <a href="tel:+27837631060" class="text-light ms-1">
                                    <i class="fa-solid fa-phone me-1"></i>+2783 763 1060
                                </a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
