<div class="container portContainer w-100 rounded-3 border-primary mt-2 mb-2 pb-2">
    <!-- <img src="829030.jpg" class="w-100 h-100 opacity-50" alt=""> -->

    <div class="container pe-3 ps-3 text-light w-75">
        <h5 class="bg-primary rounded-bottom-5">
            My Tech Journey
        </h5>       
    </div>

    <div class="container opacity-75">
        <!--Card 01-->
        <div class="card bg-body text-light">
            <div class="card-header border-primary bg-primary">Education</div>
            <div class="card-body">
                <div class="card-text">
                    National Diploma in Information Technology: Software Development, Obtained in 2021, from Tshwane University of Technology.
                </div>
            </div>
            <div class="card-footer border-primary text-light">
                <div class="row">
                    <div class="col-6">
                        <a href="https://drive.google.com/file/d/10EbfpHv_5B7WeVjkkvPrVsldppoF_EvC/view?usp=sharing" class="text-light bg-primary rounded-pill p-1">
                            <i class="fa-solid fa-download me-1"></i><span>Get Certificate</span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://drive.google.com/file/d/1-q34Z2Fx4wek1-1kO-0ed0EhabB0qDLF/view?usp=sharing" class="text-light bg-primary rounded-pill p-1">
                            <i class="fa-solid fa-download me-1"></i><span>Get Academic Record</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Card 02-->
        <div class="card bg-body text-light mt-3">
            <div class="card-header border-primary bg-primary">Software Development</div>
            <div class="card-body">
                <!--Inner Card 01-->
                <div class="card text-light-emphasis">
                    <div class="card-header bg-primary-subtle">Experience</div>
                    <div class="card-body text-light">
                        MLab Codetribe Academy: In Progress
                    </div>
                </div>
                <!-- Inner Card 02 -->
                <div class="card text-light-emphasis mt-2">
                    <div class="card-header bg-primary-subtle">Hackathons | Roles: Analyst and Developer</div>
                    <div class="card-body text-light">
                        <div class="card-text">&pointint; TCS Sustainathon South Africa 2023</div>
                        <div class="card-text bg-secondary">&pointint; National Credit Regulator Techsprint October 2023</div>
                        <div class="card-text">&pointint; EPF/NYK Great Kei Unemployment Hackathon 2022 [First(1st) Position]</div>
                    </div>
                </div>
                <!-- Inner Card 03 -->
                <div class="card mt-2 text-light-emphasis">
                    <div class="card-header bg-primary-subtle">Familiar Technlogies</div>
                    <div class="card-body text-light">
                        Microsoft Power Platform &pointint; ASP.net & Angular Web Developer (C#, HTML5, Javascript, Typescript, J-Query, Bootstraper) &pointint; 
                        Microsoft Entity Framework Core with Azure SQL &pointint; Microsoft Visual Studio and Code &pointint; Google Cloud Platform &pointint; 
                        Familiar with PHP, Node.Js, Wordpress, and Wix &pointint; Figma, Adobe Photoshop, and illustrator
                    </div>
                </div>
            </div>
            <div class="card-footer border-primary">
                <div class="row">
                    <div class="col-4">
                        <span>Project Gallery here&nbsp;</span>
                        <a href="https://github.com/LesetjaJohn" class="text-light bg-primary rounded-pill p-1">
                            <i class="fa-brands fa-github me-1"></i>GitHub
                        </a>
                    </div>
                    <div class="col-4">
                        <span>Microsoft Learn Profile&nbsp;</span>
                        <a href="https://learn.microsoft.com/en-us/users/lesetjajohn-3716/transcript/vmz9ycg986q0z29" class="text-light bg-primary rounded-pill p-1">
                            <i class="fa-solid fa-certificate me-1"></i>Explore
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="https://drive.google.com/file/d/10KwqsQtfxcqCk681-4kSL17kvzXu9S6j/view?usp=sharing" class="text-light bg-primary rounded-pill p-1">
                            <i class="fa-solid fa-download me-1"></i><span>Get PDF CV</span>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        <!--Card 03-->
        <div class="card bg-body text-light mt-3">
            <div class="card-header border-primary bg-primary">IT Technical Support</div>
            <div class="card-body">
                <!-- Inner Card 01 -->
                <div class="card text-light-emphasis">
                    <div class="card-header bg-primary-subtle">Experience</div>
                    <div class="card-body text-light">
                        <div class="card-text">
                            &pointint; Limpopo Department of Education: Education Assistant (E-Cadre) [Feb 2023 to Sep 2023] (8 months)
                        </div>
                        <div class="card-text bg-secondary">
                            &pointint; PMR Media and Advertising: IT Systems Support Technician (Contract) [August/2021 - July/2022] (1 year)
                        </div>
                        <div class="card-text">
                            &pointint; Limpopo Department of Education [Head Office]: LAN and Desktop Support Technician (Experiential Training) 
                            [August/2019 - December/2020] (1 year 5 months)
                        </div>
                    </div>
                </div>
                <!-- Inner Card 02 -->
                <div class="card mt-2 text-light-emphasis">
                    <div class="card-header bg-primary-subtle">Familiar Technlogies</div>
                    <div class="card-body text-light">
                        Team Viewer, Anydesk, Remote Desktop &pointint; Microsoft, Flr, & Google storage solutions Microsoft, Flr, & Google
                        storage solutions &pointint; Microsoft 365 (Office) &pointint; Active Directory &pointint; Oracle Virtual Machine &pointint; 
                        Motherboard advanced Diagnostics and basic Repairs &pointint; Google Workspace, Direct Admin, CPanel
                    </div>
                </div>
            </div>
            <div class="card-footer border-primary">
                <div class="row">
                    <div class="col-6">
                        <span>Project Gallery here&nbsp;</span>
                        <a href="https://wa.me/p/3488546304525365/27607346043" class="text-light bg-primary rounded-pill p-1">
                            <i class="fa-brands fa-whatsapp me-1"></i>Whatsapp
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://drive.google.com/file/d/10KwqsQtfxcqCk681-4kSL17kvzXu9S6j/view?usp=sharing" class="text-light bg-primary rounded-pill p-1">
                            <i class="fa-solid fa-download me-1"></i><span>Get PDF CV</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
