<div class="container aboutContainer w-100 h-100 rounded-3 mt-2 mb-2 pb-2 border-primary">
    <!-- <img src="210912.jpg" class="w-100 h-100 opacity-50" alt=""> -->
    <div class="container w-75 h-auto pe-3 ps-3 text-light">
        <h5 class="bg-primary rounded-bottom-5">
            Did You Know?
        </h5>
    </div>

    <div class="container h-auto w-100">
        <div class="row">
            <div class="col-sm-12">
                <!--Main Card-->
                <div class="card bg-body text-white opacity-75 border-primary">
                    <div class="card-header fs-5 border-primary">Facts Only</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img src="myphoto.jpg" alt="" class="card-img h-100"/>
                            </div>
                            <div class="col-8">
                                <!--Card 01-->
                                <div class="card bg-dark text-white">
                                    <div class="card-header bg-primary">Personal Information</div>
                                    <div class="card-body">
                                        <div class="card-text">
                                            Lesetja John Mogashoa, Male, ID:9904166263081, Limpopo:Polokwane, Code10(C1) Licensed Driver, Can Relocate, Can Work Virtually and On-site,
                                            English Literate, Sepedi Native, Basic Zulu.
                                        </div>
                                    </div>
                                </div>
                                <!--Card 02-->
                                <div class="card bg-dark text-white mt-4">
                                    <div class="card-header bg-primary">About Software Development</div>
                                    <div class="card-body">
                                        <div class="card-text">
                                        Proactive, Analytical, Research-savvy, Creative .Net Software Developer, adept in Mobile, Web,
                                        and Desktop application development, specializing on both Front and Back-end, Following
                                        Agile development methodology. Employs excellent Team skills and Multi-tasking strengths. Very Open to new Experiences and
                                        can cope well with pressure. <br><br>
                                        More Attributes: Results Oriented, Interpersonal Skills, Adaptability, Scalability, Debugging, Close Attention to detail,
                                        Verbal and Written Communication skills.
                                        </div>
                                    </div>
                                </div>
                                <!--Card 03-->
                                <div class="card bg-dark text-white mt-4">
                                    <div class="card-header bg-primary"> About IT Technical Support</div>
                                    <div class="card-body">
                                        <div class="card-text">
                                        Proactive, Dynamic, and a well-Experienced IT Support Technician adept in providing
                                        professional technical support to a wide variety of end-users, improving customer
                                        service, and maintaining IT software and hardware infrastructure. Detail-oriented
                                        professional with a highly professional attitude, continuous learning ability, critical thinking skills, a fast learner, and a team player.
                                        <br><br>
                                        More Attributes: Strong Interpersonal Skills, Careful Problem-solver, Multitasking Strength, and a Great Positive attitude. 
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="mailto:ljmogashoa04@gmail.com" class="fs-5 text-white btn-primary m-2 p-1 rounded-3 text-decoration-none">
                            <i class="fa-solid fa-envelope"></i><span class="fs-6">&nbsp;Email</span>
                        </a>
                        <a href="tel:+27607346043" class="fs-5 text-white btn-primary m-2 p-1 rounded-3 text-decoration-none">
                            <i class="fa-solid fa-phone"></i><span class="fs-6">&nbsp;Call</span>
                        </a>
                        <a href="https://wa.me/27607346043/" class="fs-5 text-white btn-primary m-2 p-1 rounded-3 text-decoration-none">
                            <i class="fa-brands fa-whatsapp"></i><span class="fs-6">&nbsp;Whatsapp</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>