<div class="container position-relative homeContainer w-100 rounded-3 mt-2 border-primary pb-2 mb-2">
    <!-- <img src="210889.jpg" class="w-100 h-100 opacity-50" alt=""> -->

    <div class="container h-auto w-75 text-light">
        <h5 class="bg-primary rounded-bottom-5">
            Dear Hiring Manager
        </h5>
    </div>

    <div class="container text-light bg-body p-2 rounded-3 opacity-75 border-primary" style="border:1px solid">
        <h1 class="fw-bolder fs-1 mt-5">Lesetja John Mogashoa</h1>
        <h5 class="mb-5">Career Profile</h5>
        <h5 class="ms-3 me-3 bg-dark rounded-3">I Am All About Information and Communication Technology</h5>
    
        <div class="container w-100 h-auto mt-5 text-center">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Card 01 -->
                    <div class="card text-white bg-dark">
                        <div class="card-header border-primary bg-primary">Software Development</div>
                        <div class="card-body">
                          <h4 class="card-title fs-5">Web . Mobile . Desktop . Cross Platform</h4>
                        </div>
                        <div class="card-footer border-primary">
                            <a class="text-primary me-5" routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page">Explore</a>
                            <a href="https://drive.google.com/file/d/10KwqsQtfxcqCk681-4kSL17kvzXu9S6j/view?usp=sharing" class="text-primary">
                                Get PDF CV
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Card 02 -->
                    <div class="card text-white bg-dark">
                        <div class="card-header border-primar bg-primary">IT Technical Support</div>
                        <div class="card-body">
                          <h4 class="card-title fs-5">Hardware . Software . Networking . Cloud</h4>
                        </div>
                        <div class="card-footer border-primary">
                            <a class="text-primary me-5" routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page">Explore</a>
                            <a href="https://drive.google.com/file/d/10KwqsQtfxcqCk681-4kSL17kvzXu9S6j/view?usp=sharing" class="text-primary">
                                Get PDF CV
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h6 class="mt-5"><i>&quot;Thobela&quot;</i></h6>
    </div>

    <div class="position-absolute bottom-0 end-0 opacity-75 m-3">
        <div class="container h-auto">
            <div class="card border-primary bg-body">
                <a href="mailto:ljmogashoa04@gmail.com" class="fs-5 text-white btn-primary m-2 p-1 rounded-3 text-decoration-none" title="Send Email">
                    <i class="fa-solid fa-envelope"></i>
                </a>
                <a href="tel:27607346043" class="fs-5 text-white btn-primary m-2 p-1 rounded-3 text-decoration-none" title="Call">
                    <i class="fa-solid fa-phone"></i>
                </a>
                <a href="https://wa.me/27607346043/" class="fs-5 text-white btn-primary m-2 p-1 rounded-3 text-decoration-none" title="Whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
  
</div>
<router-outlet></router-outlet>